<%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
    <%- include('../partials/nav'); %>

<main>
    <section class="main__section">
        <h1 class="section__h1-mick">
            Mickey
        </h1>

        <h1 class="section__h1-fisch">
            Fischer
        </h1>

        <h1 class="section__h1-hans">
            Hansen
        </h1>
        <section class="p__section">
            <p class="section__p">Frontend Developer</p>
        </section>
    </section>

    <div class="div__box">
        <h2 class="div__box-h2">
            Skills.
        </h2>
        <h1 class="div__box-h1">
            what skills i have
        </h1>
        <img class="div__box-img" src="./assets/images/skills.png" alt="">
        <p class="div__box-p">Learn how to use A/B-testing as a guiding compass for making product decisions, and how to avoid its pitfalls </p>
    </div>

    <div class="div__box-2">
        <h2 class="div__box-h2-nr2">
            Javascript
        </h2>

        <img class="div__box-img" src="./assets/images/js.png" alt="">
        <p style="color: black;" class="div__box-p">JavaScript is a dynamic programming language. It is most commonly used as part of web browsers whose implementations allow client-side scripts to communicate with the user, control the browser, communicate asynchronously, and change the content of HTML documents. </p>
    </div>

    <div class="div__box-3">
        <h2 class="div__box-h2-nr3">
            Html
        </h2>

        <img class="div__box-img" src="./assets/images/html.png" alt="">
        <p style="color: black;" class="div__box-p">HyperText Markup Language is a markup language that primarily aims to make text and images on a website appear as links to other HTML pages. Markup means to pay attention, and HTML is used to structure websites and determine the look. </p>
    </div>

    <div class="div__box-4">
        <h2 class="div__box-h2-nr4">
            Css
        </h2>

        <img class="div__box-img" src="./assets/images/css.jpg" alt="">
        <p style="color: black;" class="div__box-p">Cascading Style Sheets is a computer language used to describe how you want the content of an HTML / XHTML / XML document presented, e.g. in a browser. In HTML you can embed the CSS code in a style element or have it in files separately</p>
    </div>

    <div class="div__box-5">
        <h2 class="div__box-h2-nr5">
            Animations
        </h2>
            <div class="animation__div"></div>
        <p style="color: black;" class="div__box-p">
            CSS Animations is a proposed Cascading Style Sheets module that allows animation of HTML document elements using CSS.</p>
    </div>
    
    
</main>

<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>


    
