<%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
    <%- include('../partials/nav'); %>

<main>
    <section>
        <h1>produkter</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quae consequuntur, maiores recusandae veritatis ipsam accusamus fugit minus suscipit fuga! Sunt id cumque quidem repudiandae sed pariatur consectetur, sit non quod! Mollitia laudantium, cum rem veniam necessitatibus consectetur excepturi. Iste maxime laboriosam illo culpa eum, reiciendis quasi exercitationem sunt eaque?</p>

    </section>
   
</main>

<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>